body {
    background: linear-gradient(to right, #2c3e50, #3498db);
}

.container {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    color: beige;
}

table {
    margin: 0 auto;
    width: 300px;
    background-color: #b6b6b6;
}

.display {
    width: 300px;
    font-size: 2em;
    text-align: right;
    background-color: aliceblue;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.btn-blue {
    background-color: rgb(146, 243, 243);
}

.btn-eq {
    background-color: rgb(255, 134, 91);
}

.btn-clear {
    background-color: rgb(247, 247, 86);
}

.btn:hover {
    background-color: rgba(90, 90, 97, 0.178);
}